/* src/components/SocialIcons.css */
.social-icons {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    gap: 10px; /* Adjust spacing between icons to 5px */
    padding: 20px; /* Adjust padding around the icons */
}

.social-iconss{
    padding: 20px;
}
.social-icon {
    font-size: 2rem; /* Adjust icon size */
    color: #333; /* Default color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}



@media (max-width: 768px) {
    .social-icon {
        font-size: 1.5rem; /* Adjust size for smaller screens */
    }
}
